.select-input-wrapper{
    display: flex;
    gap: 12px;
    position: relative;
    z-index: 1;

    .select-input{
        &-container{
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 8px 12px;
            border: 1px solid theme('colors.white');
            border-radius: 4px;
            gap: 4px;
            transition: all 0.3s;
        }

        &-collapsed {
            display: flex;
            justify-content: baseline;
            align-items: center;
            gap: 12px;
        }
        
        background-color: transparent;  
        outline: none;
        color: theme('colors.white');
    
        &-label{
            margin-top: 9px;
            color:theme('colors.white');
        }

        
    }

    .select-options {
        height: 0;
        width: 100%;
        overflow: hidden;
        transition: all 0.3s;
        position: absolute;
        top: 100%;
        background-color: theme('colors.grey.50');

        &.open{
            height: auto;
        }

        .select-option {
            cursor: pointer;
            padding: 8px 12px;
            &:hover{
                background-color: theme('colors.grey.200');
            }
        }
    }

    &.grey{
        .select-input-container{
            border: 1px solid theme('colors.grey.100');
        }

        .select-placeholder{
            color: theme('colors.grey.100');
        }

        & .select-label{
            color: theme('colors.grey.100');
        }
    }
}
