.text-input-wrapper{
    display: flex;
    gap: 12px;

    .text-input{
        &-container{
            display: flex;
            align-items: center;
            padding: 8px 12px;
            border: 1px solid theme('colors.white');
            border-radius: 4px;
            gap: 4px;

            & svg {
                stroke: theme('colors.white');
            }
        }
        
        background-color: transparent;  
        outline: none;
    
        &::placeholder{
            color: theme('colors.white');
        }
    
        &-label{
            margin-top: 9px;
            color:theme('colors.white');
        }
    }

    &.grey{
        .text-input-container{
            border: 1px solid theme('colors.grey.100');
        }
        .text-input{
            &-label{
                color:theme('colors.grey.100');
            }
            &::placeholder{
                color: theme('colors.grey.100');
            }
        }
    }
}
