.csv-upload-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
}

.csv-upload{
    display: flex;
    cursor: pointer;
    padding: 16px;
    border: 1px dashed theme('colors.gray.300');
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    gap: 12px;
}

.cls-1 {
    fill: theme('colors.gray.300');
}